# Ignore Terraform local files inside terraform folder
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/*.log

# Optional: ignore Python caches for Ansible or other stuff
*.pyc
__pycache__/
